.display-table{
    display: table;
    table-layout: fixed;
}

.display-cell{
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.ml120 {
  margin-left: 120px;
}

.thermostat {
  padding: 5px;
  border-radius:5px;
  overflow: hidden;
}

.thermostat{
   background-color: lightgreen; 
}

.thermostat.hvac-off{
   background-color: gray; 
}

.thermostat.hvac-cool .heating{
  display: none;
}

.thermostat.hvac-heat .cooling{
  display: none;
}

.thermostat.hvac-off .cooling{
  display: none;
}

.thermostat.hvac-off .heating{
  display: none;
}

.thermostat .temperature {
  font-size: large;
  text-align: center;
}

.thermostat .fan {
  float: right
}

.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    overflow:hidden;
}

.square .content {
    position:absolute;
    height:80%; /* = 100% - 2*10% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 10% 5%;
}