<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">City:</span>
  <input id="city_selector" type="text" class="form-control" placeholder="City name" aria-describedby="basic-addon1" value="{{city}}" / >
  <span class="input-group-btn">
    <button id="btn_submit" class="btn btn-default" type="button">Fetch weather</button>
  </span>
</div>
