
<div class="square">
    <div class="content">
    </div>
</div>

<div class="square" id="north">
</div>

<div class="square">
    <div class="content">
    </div>
</div>
 <!-- row end -->
<div class="square" id="west"></div>
<div class="square">
    <div class="content">
      {{#if north}}
      {{else}}
        loading...
      {{/if}}
    </div>
</div>

<div class="square" id="east"></div>
 <!-- row end -->
<div class="square">
    <div class="content">
    </div>
</div>

<div class="square" id="south"></div>

<div class="square">
    <div class="content">
    </div>
</div>
 <!-- row end -->


