<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-4">
    <div id="citySelector"></div>
    <div id="weatherStatus"></div>
  </div>
  <div class="col-md-2" id="thermostatsStatus">
  </div>
  <div class="col-md-3"></div>
</div>

